/* cuerpo.css
 * estilos de estructura básicos de la página.
 * Vales Corp julio 2026
 */
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    background-color: #000000;
}

.ui.footer {
    background-color: #000000 !important;
}

#contenedor_cuerpo {
    z-index: 0;
}

.ui.inverted.segment {
    background-color: #777;
}

.ui.vertical.segment:not(.inverted) {
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.six.wide.column img {
    width: 100%;
}

.ui.borderless.inverted.menu {
    background-color: #2f2f2f;
    border-radius: 4px;
    flex-wrap: wrap;
}

.ui.borderless.inverted.menu .active.item {
    background-color: black;
}

/*span.sub {*/
/*    color: rgba(0, 0, 0, 0.6);*/
/*}*/

.ten.wide.column h1 {
    font-size: 3rem;
}

.ten.wide.column p {
    font-size: 1.5rem;
}

p code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* .ui.tablet.computer.only.padded.grid {
    position: absolute;
    z-index: 8;
    width: 100%;
    top: 1rem;
} */

/* Fuerza un tamaño uniforme a los contenedores de imagen */
/*#eventos .column .ui.image {*/
/*    width: 35vw !important;*/
/*    height: 35vh !important;*/
/*    margin: 0 auto !important;*/
/*    overflow: hidden;*/
/*    border-radius: 50% !important;*/
/*}*/

/* Ajusta la imagen dentro sin deformarla */
#eventos .column .ui.image img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;         /* recorta inteligentemente para llenar el círculo */
    display: block;
}

#eventos .column h1 {
    width: auto;
}

.texto {
    font-size: 1.5em;
}

.botones {
    border-radius: 98px;
}

#eventos {
    padding-bottom: 0;
}

.servicios.ui.image {
    width: 70% !important;
    height: auto !important;
}

.subtitulo {
    font-size: 30pt;
}

.icono.como.imagen {
    font-size: 10em;
}

.icono.como.imagen.mediano {
    font-size: 2em;
}

.bocadito p {
    font-size: 20pt;
    font-style: underline;
}

.bocadito .material-symbols-outlined {
    font-size: 1em;
}

/*.bocadito .material-symbols-outlined {*/
/*    vertical-align: middle;*/
/*}*/

.bocadito .material-symbols-outlined {
    /* opcional: tamaño del icono */
    line-height: 1; /* evita que empuje el texto */
    padding: 0;
}

.material-symbols-outlined {
    vertical-align: -0.20em;
}

#bocados h1 {
    padding-bottom: 10%;
}

/*#servicios_adicionales p {*/
/*    padding-bottom: 20%;*/
/*}*/

@media (max-width: 833px) {
    #eventos h1 {
        font-size: 1.5rem;
    }
    
    #bocados h1 {
        font-size: 1.5rem;
    }
}
