/* cuerpo.css
 * estilos de estructura básicos de la página.
 * Vales Corp julio 2026
 */
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    background-color: #000000;
/*    background-image: url(".././Img/fondo.webp");*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background-size: cover;*/
}

.ui.footer {
    background-color: #000000 !important;
}

#contenedor_cuerpo {
    z-index: 0;
}

.ui.inverted.segment {
    background-color: #777;
}

.ui.vertical.segment:not(.inverted) {
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.six.wide.column img {
    width: 100%;
}

.ui.borderless.inverted.menu {
    background-color: #2f2f2f;
    border-radius: 4px;
    flex-wrap: wrap;
}

.ui.borderless.inverted.menu .active.item {
    background-color: black;
}

/*span.sub {*/
/*    color: rgba(0, 0, 0, 0.6);*/
/*}*/

.ten.wide.column h1 {
    font-size: 3rem;
}

.ten.wide.column p {
    font-size: 1.5rem;
}

p code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* .ui.tablet.computer.only.padded.grid {
    position: absolute;
    z-index: 8;
    width: 100%;
    top: 1rem;
} */

/* Fuerza un tamaño uniforme a los contenedores de imagen */
/*#eventos .column .ui.image {*/
/*    width: 35vw !important;*/
/*    height: 35vh !important;*/
/*    margin: 0 auto !important;*/
/*    overflow: hidden;*/
/*    border-radius: 50% !important;*/
/*}*/

/* Ajusta la imagen dentro sin deformarla */
#eventos .column .ui.image img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;         /* recorta inteligentemente para llenar el círculo */
    display: block;
}

#eventos .column h1 {
    width: auto;
}

.texto {
    font-size: 1.5em;
}

.botones {
    border-radius: 98px;
}

#eventos {
    padding-bottom: 0;
}

.servicios.ui.image {
    width: 70% !important;
    height: auto !important;
}

.subtitulo {
    font-size: 30pt;
}

.icono.como.imagen {
    font-size: 10em;
}

.icono.como.imagen.mediano {
    font-size: 2em;
}

.bocadito p {
    font-size: 20pt;
    font-style: underline;
}

.bocadito .material-symbols-outlined {
    font-size: 1em;
}

/*.bocadito .material-symbols-outlined {*/
/*    vertical-align: middle;*/
/*}*/

.bocadito .material-symbols-outlined {
    /* opcional: tamaño del icono */
    line-height: 1; /* evita que empuje el texto */
    padding: 0;
}

.material-symbols-outlined {
    vertical-align: -0.20em;
}

#bocados h1 {
    padding-bottom: 10%;
}

/*#servicios_adicionales p {*/
/*    padding-bottom: 20%;*/
/*}*/

#bocados h1 {
	font-size: 1.8rem;
}

#mapa {
	width: 50vw;
	height: 60vh;
}

@media (max-width: 833px) {
    #eventos h1 {
        font-size: 1.5rem;
    }
    
    #bocados h1 {
        font-size: 1.05rem;
    }
    
    #mapa {
        width: auto;
        height: 50vh;
		display: flex;
		justify-content: center;
    }
}

.parrafo {
  white-space: pre-line;
}


.btn-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.btn-flotante i {
    width: 100%;
    height: 100%;
    line-height: 60px; /* igual a la height del botón */
    margin: 0;
    padding: 0;
}
.btn-flotante:hover {
    transform: scale(1.1);
}

