/** * vidrioLiquido.css
 * Para el tema
 */
 /*menú opaco y estilo vidrio*/
.ui.menu {

     border: 1px solid rgba(34, 36, 38, 0.15);
     background-color: #000000bf !important;
     backdrop-filter: blur(10px);
     margin-bottom: 2px;
     position: fixed;
     background: #111;
     z-index: 1000;
 }
